html, body, header, h1, h2, p, 
a, img, ol, ul, li, article, aside, 
figure, figcaption, header, 
main, nav, section {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
}

main {
    display: block;
}

body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: #ccffff;
}

html, body {
       height: 100%;
}

header h1 {
    text-align: center; 
    font: normal small-caps bold 40px Arial, Helvetica, sans-serif;
    background: white url(../images/sky.jpg) left repeat;
    padding: 20px 0px 20px 0px;
}

header p {
    padding: 0px 20px 30px 0px;
    font-weight: bold;
}

#HomeP {
    padding: 20px 0px 30px 0px;
}

nav {
    text-align: center;
    padding: 10px 0px 20px 0px;
}

nav a {
    padding: 3px 20px 3px 20px;
    border: 1px solid gray;
}

section {
    padding: 0px 0px 30px 0px;
}

section ul {
    list-style-type: none;
}

section li {
    padding: 10px 0px;
}

section h2 {
    font-weight: bold;
    font-style: italic;
}

article img {
    float: left;
    clear: left;
}

article figcaption {
    padding: 10px 0px 10px 0px;
    clear: left;
}

article figure {
    padding: 0px 0px 20px 0px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer a {
    padding: 3px 20px 3px 20px;
    border: 1px solid gray;
}

.footer {
    position: relative;
}

a {
    text-decoration: none;
}

a:link {
    color: gray;
}

a:visited {
    color: mediumpurple;
}

a:hover {
    color: blue;
}

label, textarea, input {
    display: block;
}

textarea {
    width: 300px;
    height: 200px;
}

textarea, input {
    margin: 0px 0px 10px 0px;
}





