// imports
@import 'grid/simple-grid';

//mixins
@mixin text-align($x: center) {
    text-align: $x;
}

@mixin display($x: block) {
    display: $x;
}

@mixin respond-to($val, $query) {
    @media screen and ($val: $query) {
        @content;
    }
}

/*body and main*/
main {
    min-height: 94%;
    padding-bottom: 5%;
}

.background {
  background-image: url(../images/background.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  p, h1 {
    color: white;
  }
}

/*header and footer*/
header, footer {
    background-color: black;
}

ul {
    list-style-type: none;
}

/*header*/ 
.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
  color: white;
}

.topnav {
    background-color: black;
    overflow: hidden;
    a {
        float: left;
        @include display;
        @include text-align;
        padding: 0.8em 1em;
        text-decoration: none;
        font-size: 1em;
        color: white;
        &:hover {
            background-color: darkslategrey;
        }
        &:not(:first-child) {
            @include respond-to(max-width, 987px) {
                display: none;
            }
        }
        &.icon {
            @include respond-to(max-width, 987px) {
                float: right;
                display: block;
            }
        }
    }
    .icon {
        @include display(none);
        @include respond-to(max-width, 987px) {
            float: right;
            display: block;
        }
    }
}

.topnav.responsive {
    @include respond-to(max-width, 987px) {
        position: relative;
    }
    a {
        @include respond-to(max-width, 987px) {
            float: none;
            display: block;
            text-align: left;
        }
        &.icon {
            @include respond-to(max-width, 987px) {
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }
}

/*content*/
.col-12 {
    @include text-align;
    &.contact {
        @include text-align(left);
    }
    &.left {
        @include text-align(left);
    }
}

figure {
    max-width: 50em;
}

figcaption {
    padding-top: 0.3%;
    font-style: italic; 
}

img {
    max-width: 100%;
    @include display();
    margin-left: auto;
    margin-right: auto;
    @include respond-to(max-width, 749px) {
        width: 500px;
    }
    @include respond-to(min-width, 750px) {
        width: 800px;
    }
    &.vertical {
        @include respond-to(max-width, 749px) {
            width: 375px;
        }
        @include respond-to(min-width, 750px) {
            width: 600px;
        }
    }
}

/*forms and messages*/
span.error {
    color: white;
}

li.message-li {
    color: 
}
