<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}|NM Trip</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <nav class="container">
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          {% if title != 'Carlsbad' %}
          <li><a href="{{ url_for('carlsbad') }}">Carlsbad</a></li>
          {% endif %}
          {% if title != 'Food' %}
          <li><a href="{{ url_for('food') }}">Yummy Food</a></li>
          {% endif %}
          {% if title != 'The Road' %}
          <li><a href="{{ url_for('road') }}">The Road</a></li>
          {% endif %}
          {% if title != 'White Sands' %}
          <li><a href="{{ url_for('whitesands') }}">White Sands</a></li>
          {% endif %}
        </ul>
      </nav> 
    </header>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %} {% endblock %}
    <footer>
      <div class="footer">
        <ul>
          {% if title != 'About' %}
          <li><a href="{{ url_for('about') }}">About Me</a></li>
          {% endif %}
          {% if title != 'Contact' %}
          <li><a href="{{ url_for('contact') }}">Contact</a></li>
          {% endif %}
        </ul>
      </div>    
    </footer>
  </body>
</html>