{% extends "base.html" %}

{% block content %}
  <main>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Carlsbad</h1>
        </div>
      </div>
      <article>
        <div class="row">
          <div class="col-12">
            <figure>
              <img src="../images/girlscouts.jpg" alt="Girl Scouts">
              <figcaption>Walking in the dark!</figcaption>
            </figure>
            <p>I got stuck with girl scouts here, but I ended up liking them. 
              They were loud - but also adorable, I couldn't deny it. 
              We walked in a line in the dark, with nothing but lanterns to guide us!</p>
          </div>
        </div>      
      </article>
      <article>
        <div class="row">
          <div class="col-12">
            <figure>
              <img src="../images/gurus.jpg" alt="Formations in the caverns">
              <figcaption>Some cool formations</figcaption>
            </figure>
            <p>Inside the caverns I found some cool formations that looked like 
              three gurus or video game bosses (you choose).</p>
          </div>
        </div>
      </article>
      <article class="Caverns">
        <div class="row">
          <div class="col-12">
            <figure>
              <img src="../images/caverns.jpg" alt="Caverns">
            </figure>
            <p>It was my first time in a cave, and I was thoroughly impressed.</p>
          </div>
        </div>
      </article> 
    </div>
  </main>
{% endblock %}
