{% extends "base.html" %}

{% block content %}
  <main>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Pics of the road</h1>
          <p>I can't believe I didn't die!</p>
        </div>
      </div>
      <article>
        <div class="row">
          <div class="col-12">
            <figure>
              <img src="../images/road1.jpg" alt="Road Pic 1">
              <figcaption>It was a gorgeous drive every day</figcaption>
            </figure>
          </div>
        </div>
      </article>
      <article>
        <div class="row">
          <div class="col-12">
            <figure>
              <img src="../images/road2.jpg" alt="Road Pic 2">
              <figcaption>I'd always wanted to take a road trip!</figcaption>
            </figure>
          </div>
        </div>
      </article>
      <article>
        <div class="row">
          <div class="col-12">
            <figure>
              <img src="../images/road3.jpg" alt="Road Pic 3">
              <figcaption>It was breath taking!</figcaption>
            </figure>
          </div>
        </div>
      </article>
    </div>
  </main>
{% endblock %}