{% extends "base.html" %}

{% block content %}
  <main>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>White Sands</h1>
          <p>This place blew my mind! Check it out!</p>
        </div>
      </div>
      <article>
        <div class="row">
          <div class="col-12">
            <figure>
              <img src="../images/whitesands.jpg" alt="Dunes">
              <figcaption>Those are foot prints.</figcaption>
            </figure>
          </div>
        </div>
      </article>
      <article>
        <div class="row">
          <div class="col-12">
            <figure>
              <img src="../images/drseuss.jpg" alt="Dead Dr. Seuss Character">
              <figcaption>This looks like a dead Dr. Suess character...</figcaption>
            </figure>
          </div>
        </div>
      </article>
    </div>
  </main>
{% endblock %}
